body {
  font-family: Helvetica Neue, lucida sans;
  background: #AAA;
  height: 100%;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  background: #AAA;
}

#splashscreen {
  height: 70%;
  width: 90%;
  margin-left: 5%;
  margin-top: 15%;
}

#splashscreen img {
  width: 100%;
}

#splashscreen #brand {
  width: 100%;
  margin-top: -30px;
  margin-bottom: 30px;
}

#splashscreen #brand:after {
  clear:both;
}

#splashscreen h1 {
  font-family: Helvetica Neue;
  font-size: 250%;
  text-align: center;
}

#actionbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 44px;
  background-color: #BBB;
  color: #333;
  z-index: 1;
  box-shadow: 0px 3px 3px; 
}

#actionbar h1 {
  font-family: Helvetica Neue;
  font-size: 180%;
  line-height: 44px;
  text-align: center;
  float: left;
}

#actionbar .logo {
  height: 100%;
  float: left;
  margin-top: 3px;
  margin-left: 3px;
}

#actionbar #home-button {
  background: url(../img/home-logo.png) center center no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}

#actionbar #back-button {
  background: url(../img/back-button.png) center center no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  margin-top: 5px;
  margin-right: 2px;
}

#actionbar .button {
  float: right;
  height: 100%;
  border-left: 1px solid #AAA;
}

#actionbar .button img {
  height: 100%;
}

#content {
  width: 98%;
  margin: auto 1% auto 1%;
  height: 100%;
  margin-top: 44px;
  position: absolute;
}

#content h1 {
  font-family: Helvetica Neue;
  font-size: 250%;
  text-align: center;
  margin-top: 20%;
  position: relative;
}

#content h2{
  font-family: Helvetica Neue;
  font-size: 175%;
  text-align: center;
  margin-top: 10%;
  position: relative;
}

#content h3{
   font-family: Helvetica Neue;
  font-size: 175%;
  text-align: center;
  margin-top: 1%;
  position: relative;
}

.form {
  width: 90%;
  margin: 0% auto 0% auto;
  position: relative;
  text-align: center;
}

#content form:first-child {
  margin-top: 10%;
}

.form > div {
  display: block;
  height: 100%;
  overflow: hidden;
}

.form button {
  width: 100%;
}

.form > div + div {
  margin-top: 10px;
}

.form input {
  background: #ededed;
  border: 1px solid #ccc;
  font-size: 150%;
  padding: 9px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#search {
  width: 90%;
  height: 80px;
  margin: 20% auto 0% auto;
  position: relative;
  overflow: hidden;
}

#searchbox {
  display: block;
  height: 100%;
  overflow: hidden;
}

#searchbox input {
  background: #ededed;
  border: 1px solid #ccc;
  font-size: 150%;
  padding: 9px;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#searchbutton {
  float: right;
  width: 64px;
  margin-left: 0px;
  background: #BBB;
  border: 1px solid #ccc;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  font-size: 100%;
  padding: 0px;
}

#searchbutton img {
  margin-left: 5%;
  width: 70%;
}

#user-buttons {
  text-align: center;
  margin-top: 30%;
}

.ui-button {
  font-size: 150%;
  padding: 5px;
  border: 1px solid #111;
  background-color: #BBB;
  color: #333;
  text-decoration: none;
}

.ui-button:active {
  background-color: #800;
  color: #FFF;
  text-decoration: none;
}

.ui-button + .ui-button {
  margin-left: 5px;
}

.form + .form {
  margin-top: 10px;
}

#filterlist {
  width: 100%;
  margin-top: 10%;
}

#filterlist li {
  width: 100%;
  font-size: 150%;
  color: #333;
  background-color: #BBB;
  border: 1px solid #111;
}

#filterlist li:first-child {
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

#filterlist li:last-child {
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}

#filterlist li .filter-icon {
  float: left;
  background: url(../img/rightarrow-icon.png) center center no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: 2px;
  margin-top: 2px;
}

#filterlist li > div:not(.filter-icon) {
  width: 100%;
  padding: 9px;
}

.filter .filter-options {
  margin-top: 10px;
  display: none;
}

.viewbutton {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  font-size: 150%;
  padding: 10px;
  background-color: #888;
  color: #333;
  text-decoration: none;
  box-sizing: border-box;
}

#mapview {
  text-align: center;
}

#resultlist {
  margin-top: 7px;
}

#resultlist li {
  width: 100%;
  background-color: #BBB;
  border: 1px solid black;
  padding: 15px 0px;
  padding-left: 10px;
  box-sizing: border-box;
}

.result h2 {
  font-size: 120%;
}

.seemore {
  text-align: right;
  margin-right: 2%;
}

.seemore a {
  text-decoration: none;
}

.footer {
	background-color: #BBB;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	text-align: center;
}

.footer a{
  text-decoration: none;
}

.footer img{
  padding: 5px 3%;
  width: 36px;
  height: 36px;
}

.selectedaction{
  border: 2px solid black;
}

.sendbutton{
  background: #BBB;
  border: 1px solid #ccc;
  font-size: 100%;
}
.sendbuttonimg{
  height: 16px;
 }
 
 .ui-helper-hidden-accessible{
   display: none;
 }
 
 .removebutton{
  text-align: right;
  margin-right: 2%;
  position: absolute;
  right: 0px;
 }
 
.comparebutton{
  text-align: right;
  margin-right: 2%;
  position: absolute;
  right: 0px;
 }
 
 .selectbutton{
  text-align: right;
  margin-right: 2%;
  position: absolute;
  right: 0px;
 }
 
 .resultitem{
   text-decoration: none;
 }